@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@attribute [Authorize(Roles = "Administrateur")]

@inject NavigationManager NavigationManager

<h3>Admin Page</h3>

<p>Only users with the Admin role can access this page.</p>

@code {
    // Si vous avez besoin d'accéder aux informations utilisateur, injectez l'état d'authentification
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    private ClaimsPrincipal user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        user = authState.User;

        if (user == null || !user.Identity.IsAuthenticated)
        {
            // Gérer le cas où l'utilisateur n'est pas authentifié
            NavigationManager.NavigateTo("/login");
        }
    }
}
