@page "/admin"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using blazor_gestconf.Models

@attribute [Authorize(Roles = "Administrateur")]

<h3>Admin Page</h3>

<p>Only users with the Admin role can access this page.</p>

@code {
    [Inject]
    protected NavigationManager NavigationManager { get; set; }

    [CascadingParameter]
    protected Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        var user = authState.User;

        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo("/login");
        }
        else if (!user.IsInRole("Admin"))
        {
            NavigationManager.NavigateTo("/error");
        }
    }
}
