@page "/"
@using Microsoft.AspNetCore.Components

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.



<h3>Créer un compte</h3>
<ul>
    <li><NavLink href="/Account/Register/MembreComite">Créer un compte Membre du comite </NavLink></li>
    <li><NavLink href="/Account/Register/Participant">Créer un compte Participant </NavLink></li>
    <li><NavLink href="/Account/Register/Auteur">Créer un compte Auteur</NavLink></li>
    <li><NavLink href="/Account/Register/Administrateur">Créer un compte Administrateur</NavLink></li>
</ul>
